<a href="https://colab.research.google.com/github/singh2jz/sales-predictions/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Cleaning for project

In [2]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Week 3/Data/sales_predictions.csv')
df.tail()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[5 rows x 12 columns]

In [4]:
#renamed column. Easier to read and similar to the way the rest of the columns are
df = df.rename(columns={'Item_MRP': 'Item_List_Price'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_List_Price            8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [5]:
df['Outlet_Identifier'].unique()

array(['OUT049', 'OUT018', 'OUT010', 'OUT013', 'OUT027', 'OUT045',
       'OUT017', 'OUT046', 'OUT035', 'OUT019'], dtype=object)

In [6]:
df.drop_duplicates(subset=['Outlet_Identifier'])

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15         9.30  ...  Supermarket Type1          3735.1380
1            DRC01         5.92  ...  Supermarket Type2           443.4228
3            FDX07        19.20  ...      Grocery Store           732.3800
4            NCD19         8.93  ...  Supermarket Type1           994.7052
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17        16.20  ...  Supermarket Type1          1076.5986
9            FDU28        19.20  ...  Supermarket Type1          4710.5350
11           FDA03        18.50  ...  Supermarket Type1          2187.1530
19           FDU02        13.35  ...  Supermarket Type1          2748.4224
23           FDC37          NaN  ...      Grocery Store           214.3876

[10 rows x 12 columns]

In [7]:
#two column only with null values
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_List_Price                 0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [9]:
#no outlet size for 045, 017, 010
outlet_filter = df.drop_duplicates(subset=['Outlet_Identifier'])
outlet_filter

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15         9.30  ...  Supermarket Type1          3735.1380
1            DRC01         5.92  ...  Supermarket Type2           443.4228
3            FDX07        19.20  ...      Grocery Store           732.3800
4            NCD19         8.93  ...  Supermarket Type1           994.7052
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17        16.20  ...  Supermarket Type1          1076.5986
9            FDU28        19.20  ...  Supermarket Type1          4710.5350
11           FDA03        18.50  ...  Supermarket Type1          2187.1530
19           FDU02        13.35  ...  Supermarket Type1          2748.4224
23           FDC37          NaN  ...      Grocery Store           214.3876

[10 rows x 12 columns]

In [10]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [11]:
OSna_df = df[df['Outlet_Size'].isnull()]

In [12]:
OSna_df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_List_Price                 0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [13]:
OSna_df['Outlet_Identifier'].unique()

array(['OUT010', 'OUT045', 'OUT017'], dtype=object)

In [14]:
OSna_df.drop_duplicates(subset=['Outlet_Identifier'])

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
3           FDX07         19.2  ...      Grocery Store           732.3800
8           FDH17         16.2  ...  Supermarket Type1          1076.5986
9           FDU28         19.2  ...  Supermarket Type1          4710.5350

[3 rows x 12 columns]

In [70]:
#tried this with the three outlet identifiers showing na in outlet size. outlet size is na for all three of them.
#the total null values in the whole column (2410) is the sum of all na values in outlet size among the three outlet identifiers
filter = df[df['Outlet_Identifier']=='OUT045'] #did this once for each outlet identifier
filter['Outlet_Size'].value_counts

<bound method IndexOpsMixin.value_counts of 1197    NaN
7811    NaN
5029    NaN
2545    NaN
6695    NaN
       ...
1087    NaN
3468    NaN
7068    NaN
5271    NaN
1969    NaN
Name: Outlet_Size, Length: 929, dtype: object>

In [71]:
filter['Outlet_Size'].isna().sum()

929

In [17]:
OSna_df.shape

(2410, 12)

### Started testing out the nulls in item weight. Almost all of them can be imputed because the weight is shown in other rows with the same item identifier. There are some items that show up only once with null weight but those can probably be left out.

In [18]:
#actual code. starting to check item weight nulls
df[df['Item_Weight'].isnull()]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8485           DRK37          NaN  ...  Supermarket Type3          6261.8490
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8488           NCN14          NaN  ...  Supermarket Type3          2756.4120
8490           FDU44          NaN  ...      Grocery Store           487.3656
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1463 rows x 12 columns]

In [19]:
df[df['Item_Identifier']=='FDW13']

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
256            FDW13          8.5  ...  Supermarket Type1           259.6620
1141           FDW13          8.5  ...  Supermarket Type1          1350.2424
2190           FDW13          8.5  ...  Supermarket Type2           934.7832
3928           FDW13          NaN  ...  Supermarket Type3          2492.7552
3978           FDW13          8.5  ...  Supermarket Type1           882.8508
6499           FDW13          8.5  ...  Supermarket Type1           675.1212
6587           FDW13          8.5  ...      Grocery Store           311.5944
7029           FDW13          8.5  ...  Supermarket Type1           882.8508
8025           FDW13          NaN  ...      Grocery Store           207.7296
8032           FDW13          8.5  ...  Supermarket Type1          1194.4452

[10 rows x 12 columns]

In [20]:
IWna_df = df[df['Item_Weight'].isnull()]

In [21]:
IWna_df.drop_duplicates(subset=['Item_Identifier'])

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7              FDP10          NaN  ...  Supermarket Type3          4022.7636
18             DRI11          NaN  ...  Supermarket Type3          2303.6680
21             FDW12          NaN  ...  Supermarket Type3          4064.0432
23             FDC37          NaN  ...      Grocery Store           214.3876
29             FDC14          NaN  ...      Grocery Store           125.8362
...              ...          ...  ...                ...                ...
8463           FDG59          NaN  ...  Supermarket Type3           810.9444
8472           NCS41          NaN  ...  Supermarket Type3          1653.8472
8480           FDQ58          NaN  ...      Grocery Store           459.4020
8487           DRG13          NaN  ...  Supermarket Type3          4111.3150
8504           NCN18          NaN  ...  Supermarket Type3          4138.6128

[1142 rows x 12 columns]

In [58]:
df[df['Item_Identifier']=='FDN52']

    Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
927           FDN52          NaN  ...  Supermarket Type3          1569.9564

[1 rows x 12 columns]

In [52]:
#sorted the whole data frame by item identifiers so i can impute later. can always change back to default
df = df.sort_values('Item_Identifier')
df['Item_Identifier'].value_counts()

FDG33    10
FDW13    10
NCY18     9
FDD38     9
NCL31     9
         ..
FDE52     1
FDQ60     1
FDC23     1
FDY43     1
FDN52     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [ ]:
imputer = SimpleImputer(strategy='most_frequent')
df_test = imputer.fit_transform(df['Item_Identifier', 'Item_Weight'])
df_test

### Actual change. Fixed item fat content. All the other ones were different ways to write either 'Low Fat' or 'Regular'

In [23]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [24]:
#actual code. replaced all incorrect values to match the only two there should be
df['Item_Fat_Content'].replace({'low fat':'Low Fat', 'reg':'Regular'}, inplace=True)

In [26]:
df['Item_Fat_Content'].replace({'LF':'Low Fat'}, inplace=True)

In [59]:
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

### testing other columns for misspellings

In [27]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64