Data Cleaning for project

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Week 3/Data/sales_predictions.csv')

In [3]:
df = df.rename(columns={'Item_MRP': 'Item_List_Price'})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_List_Price            8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [4]:
df['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT046    930
OUT035    930
OUT049    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [5]:
#no item weight for out27, 019. no outlet size for 045, 017, 010
outlet_filter = df.drop_duplicates(subset=['Outlet_Identifier'])

In [6]:
outlet_filter

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0            FDA15         9.30  ...  Supermarket Type1          3735.1380
1            DRC01         5.92  ...  Supermarket Type2           443.4228
3            FDX07        19.20  ...      Grocery Store           732.3800
4            NCD19         8.93  ...  Supermarket Type1           994.7052
7            FDP10          NaN  ...  Supermarket Type3          4022.7636
8            FDH17        16.20  ...  Supermarket Type1          1076.5986
9            FDU28        19.20  ...  Supermarket Type1          4710.5350
11           FDA03        18.50  ...  Supermarket Type1          2187.1530
19           FDU02        13.35  ...  Supermarket Type1          2748.4224
23           FDC37          NaN  ...      Grocery Store           214.3876

[10 rows x 12 columns]