<a href="https://colab.research.google.com/github/singh2jz/sales-predictions/blob/main/Project_1(Linear_Regression).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [22]:
df = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Week 5/Data/Updated_Sales_Predictions.csv')

In [23]:
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           DRA12         11.6  ...      Grocery Store           283.6308
1           DRA12         11.6  ...  Supermarket Type1          2552.6772
2           DRA12         11.6  ...  Supermarket Type1           992.7078
3           DRA12         11.6  ...  Supermarket Type1          3829.0158
4           DRA12         11.6  ...  Supermarket Type1          2552.6772

[5 rows x 12 columns]

In [24]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_List_Price                 0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_List_Price            8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [48]:
df['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [27]:
df = pd.get_dummies(df, columns = ['Item_Type'], drop_first = True)

In [28]:
df = pd.get_dummies(df, columns = ['Item_Fat_Content'], drop_first = True)

In [29]:
levels = {'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2}
df['Outlet_Location_Type'] = df['Outlet_Location_Type'].map(levels)

In [30]:
df.head()

  Item_Identifier  ...  Item_Fat_Content_Regular
0           DRA12  ...                         0
1           DRA12  ...                         0
2           DRA12  ...                         0
3           DRA12  ...                         0
4           DRA12  ...                         0

[5 rows x 26 columns]

In [31]:
years = {1985 : 0, 1987 : 0,
         1997:1, 1998:1, 1999:1,
         2002:2, 2004:2,
         2007:3, 2009:3}
df['Outlet_Establishment_Year'] = df['Outlet_Establishment_Year'].map(years)

In [32]:
df.head()

  Item_Identifier  ...  Item_Fat_Content_Regular
0           DRA12  ...                         0
1           DRA12  ...                         0
2           DRA12  ...                         0
3           DRA12  ...                         0
4           DRA12  ...                         0

[5 rows x 26 columns]

In [34]:
df = pd.get_dummies(df, columns = ['Outlet_Identifier'], drop_first = True)

In [35]:
df = pd.get_dummies(df, columns = ['Outlet_Type'], drop_first = True)

In [49]:
levels = {'Small': 0, 'Medium': 1, 'High': 2}
df['Outlet_Size'] = df['Outlet_Size'].map(levels)

In [64]:
y = df['Item_Outlet_Sales']
X = df.drop(columns = {'Item_Outlet_Sales', 'Item_Identifier', 'Outlet_Size', 'Item_Weight'})

In [65]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [66]:
from sklearn.linear_model import LinearRegression

In [67]:
reg = LinearRegression()

In [68]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
train_score = reg.score(X_train, y_train)
print(train_score)

0.5665941586764363

In [70]:
test_score = reg.score(X_test, y_test)
print(test_score)

0.5524421047525947

In [71]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np

In [72]:
train_preds = reg.predict(X_train)
test_preds = reg.predict(X_test)

In [73]:
np.sqrt(mean_squared_error(y_train, train_preds))

1133.6137980496403

In [74]:
np.sqrt(mean_squared_error(y_test, test_preds))

1109.2633033206048

In [76]:
importance = reg.coef_
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: -234.30444
Feature: 1, Score: 15.71502
Feature: 2, Score: 94.73298
Feature: 3, Score: -226.80286
Feature: 4, Score: 48.68351
Feature: 5, Score: -1.23710
Feature: 6, Score: 33.59220
Feature: 7, Score: 14.97214
Feature: 8, Score: -27.38853
Feature: 9, Score: 62.46221
Feature: 10, Score: -12.89390
Feature: 11, Score: 18.49797
Feature: 12, Score: -30.07906
Feature: 13, Score: 14.02309
Feature: 14, Score: -23.96464
Feature: 15, Score: 155.30253
Feature: 16, Score: 17.62901
Feature: 17, Score: -8.13442
Feature: 18, Score: 84.97076
Feature: 19, Score: 50.06105
Feature: 20, Score: 656.75020
Feature: 21, Score: 149.04237
Feature: 22, Score: 709.43873
Feature: 23, Score: -337.83341
Feature: 24, Score: 1741.00017
Feature: 25, Score: 299.54417
Feature: 26, Score: 138.14358
Feature: 27, Score: 20.70113
Feature: 28, Score: 137.16865
Feature: 29, Score: 1401.35010
Feature: 30, Score: 709.43873
Feature: 31, Score: 1741.00017

In [79]:
X.head(1)

   Item_Visibility  ...  Outlet_Type_Supermarket Type3
0         0.068535  ...                              0

[1 rows x 32 columns]

## Features related to higher predicted sales
Supermarket Type 3 & OUT027. Also supermarket type 1. Everything else was below 1000 score.